<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Appy</title>
    <link rel="stylesheet" href="../css/homepage.css">
</head>
<body>
<header class="header">
    <div class="container nav-container">
        <div class="logo"><img src="../images/logo.png" alt="logo"></div>

        <nav class="nav">

            <ul class="nav-links">
                <li><a href="javascript:void(0)" class="active">Home</a></li>
                <li><a href="javascript:void(0)">About</a></li>
                <li><a href="javascript:void(0)">Features</a></li>
                <li><a href="javascript:void(0)">Screenshots</a></li>
                <li><a href="javascript:void(0)">Team</a></li>
                <div class="dropdown">
                    <li><a href="javascript:void(0)">Blog</a></li>
                    <div class="dropdown-content">
                        <a href="#">Recent blog</a>
                        <a href="#">Blog</a>
                        <a href="#">Single blog</a>
                    </div>
                </div>
                <li><a href="javascript:void(0)">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- HERO SECTION -->
<section class="hero">
    <div class="container hero-inner">
        <div class="hero-content">
            <h1>Make Business Easy With AppY</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore.
            </p>

            <div class="hero-actions">
                <a href="#" class="btn primary">Read More</a>
                <a href="#" class="btn primary">Features</a>
            </div>
        </div>

        <div class="hero-image">
            <div class="phone-frame">
                <img src="../images/slide-mobile-2.png" alt="Mobile app"/>
            </div>
        </div>
    </div>
</section>
<!--About Section-->
<section>
    <div class="container">
        <div class="row">
            <div>
                <h3>about appy</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, <br> sed do eiusmod tempor incididunt ut labore.</p>
            </div>
        </div>
    </div>
</section>
<!--Subscribe-->
<section class="subscribe">
    <div class="container subscribe-inner ">
<!--        Text-->
        <div >
            <h1 class="subscribe-header">Subscribe</h1>
            <p class="subscribe-para">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur earum explicabo harum vero voluptate. Deserunt est nobis rem tempore veritatis.
            </p>
        </div>
<!--        Box-->
        <div>
            <form class="email-box" onsubmit="return false;">
                <input type="email" placeholder="Your Email" aria-label="Email">
                <button class="btn">SUBMIT</button>
            </form>
        </div>
    </div>
</section>
<!--Footer-->
<footer class="footer">
    <div class="bottom-footer">
        <p class="footer-text">
            Copyright © 2017 appy, Design & Develop by MK
        </p>
    </div>
</footer>

</body>
</html>